<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Saved</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Product saved</h1>
        <p class="lead mb-4">The product was successfully created/updated.</p>

        <!-- Button to return to all products -->
        <a th:href="@{/products/allProducts}" class="btn btn-primary mr-2">Return to All Products</a>

        <!-- Button to create a new product -->
        <a th:href="@{/products/createProductForm}" class="btn btn-success">Create New Product</a>
    </div>

</body>

</html>